@import './variables';
@import '~@fortawesome/fontawesome-svg-core/styles.css';

@font-face {
  font-family: 'Luna';
  font-style: normal;
  font-weight: 500;
  src:  url('../assets/fonts/Luna-Medium.woff2') format('truetype');
}

html,
body {
  font-family: 'Luna', cursive;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-wrap: wrap;
  padding: $indent-base $indent-s;
}

.headerIcon {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.toggle-container {
  display: flex;
  flex-wrap: wrap;
  padding: $indent-s;
  background-color: $moonpay-grey;
  border-radius: 12px 12px 0 0;

  .icon {
    max-width: 20px;
  }

  .shuffle-icon {
    max-width: 30px;
    margin-left: $indent-s;
  }

  .sort-icon,
  .shuffle-icon {
    display: block;
  }

  .toggle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
    padding: $indent-s 0;

    &#testmode-enabled .switch {
  
    }

    &#sort-by-code-enabled {
      flex-basis: 100%;
      justify-content: center;

      input[type="checkbox"]:checked + .switch::before {
        transform: translateX(48px);
      }

      .toggle-switch {
        min-width: 75px;
      }
    }
  }

  .toggle-switch {
    position: relative;
    display: block;
    min-width: 50px;
    height: 27px;
    margin: 0 $indent-xs;

    .code {
      display: none;
      left: 43%;
    }

    .name {
      left: 58%;
    }

    .name, .code {
      color: black;
      position: absolute;
      transform: translate(-50%,-50%);
      top: 50%;
      font-size: 10px;
      text-transform: uppercase;

    }

    &.name .name,
    &.code .code {
      display: block;
    }

    &.code .name,
    &.name .code {
      display: none;
    }

    input[type="checkbox"] {
      display: none;
    }

    input[type="checkbox"]:checked + .switch::before {
      transform: translateX(23px);
      background-color: $moonpay-purple;
    }

    input[type="checkbox"]:checked + .switch {
      background-color: $pure-white;
      color: black;
    }

    .switch {
      position: absolute;
      cursor: pointer;
      background-color: $pure-white;
      border: 1px solid $moonpay-purple;
      border-radius: 25px;
      box-sizing: border-box;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: background-color 0.2s ease;

      &::before {
        position: absolute;
        content: "";
        left: 2px;
        top: 2px;
        width: 21px;
        height: 21px;
        background-color: $moonpay-purple;
        border-radius: 50%;
        transition: transform 0.3s ease;
      }
    }
  }
}

.sort-shuffle-container {
  background-color: $moonpay-grey;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 $indent-s $indent-s;

  div.wrapper {
    display: flex;
    min-width: 80px;
    flex-wrap: wrap;
    align-items: center;
    flex-basis: 50%;
    justify-content: center;

    span {
      margin-right: $indent-s;
    }
  }

  div.btn-wrapper {
    flex-basis: 50%;
    justify-content: center;
    display: flex;

    button {
      flex-basis: 50%;
      min-width: 120px;
      background-color: $moonpay-purple;
      border-color: $moonpay-purple;
      border-radius: 24px;
      color: $pure-white;
      text-transform: uppercase;
    }
  }

  .sort-icon {
    max-width: 20px;
    min-height: 32px;
  }
}

.tokensGrid {
  display: flex;
  flex-wrap: wrap;
  background-color: $moonpay-grey;

  .tokenContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    span {
      align-items: center;
      background-color: $pure-white;
      border: 2px solid $pure-white;
      border-radius: 12px;
      box-shadow: 0px 3px 15px rgba(0,0,0,0.2);;
      box-sizing: border-box;
      color: black;
      display: flex;
      height: 60px;
      justify-content: center;
      text-align: center;
      width: 100%;
    }
  }
}

@media (min-width: $breakpoint-mobile) {
  .headerIcon {
    max-width: $logo-small;
  }

  .tokensGrid {
    padding: $indent-s 0;
  }

  .tokenContainer {
    flex-basis: 100%;
    padding: $indent-s;


    span {
      padding: $indent-xs;
    }
  }
}

@media (min-width: $breakpoint-mobile-xl) {
  .toggle-container {
    .toggle,
    .toggle#sort-by-code-enabled{
      flex-basis: 33.33%;
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  .headerIcon {
    max-width: $logo-base;
  }

  .toggle-container,
  .sort-shuffle-container {
    margin: 0 $indent-base;
  }

  .sort-shuffle-container {
    padding: $indent-s;

    button {
      padding: $indent-s;
    }
  }

  .tokensGrid {
    margin: 0 $indent-base;
    padding: $indent-base;
  }

  .tokenContainer {
    flex-basis: 50%;
    padding: $indent-s 0;

    span {
      padding: $indent-xs;
      max-width: 300px;
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .headerIcon {
    margin: $indent-base auto $indent-base $indent-base;
    max-width: $logo-base;
  }

  .flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    background-color: $moonpay-grey;
    margin: 0 $indent-base;
    border-radius: 12px 12px;
    padding-top: $indent-s;
  }

  .toggle-container {
    background-color: transparent;
    border-radius: 0;
    flex-basis: 50%;

    .toggle,
    .toggle#sort-by-code-enabled {
      justify-content: flex-end;
    }
  }

  .sort-shuffle-container {
    div.wrapper {
      justify-content: center;
    }

    div.btn-wrapper {
      justify-content: flex-start;
    }
  }

  .toggle-container,
  .sort-shuffle-container {
    margin: 0;
    padding: $indent-s 0;
    flex-basis: 50%;
  }

  .tokensGrid {
    margin: 0 $indent-base $indent-base;
    padding: 0;
  }

  .tokenContainer {
    flex-basis: 33.33%;
    padding: $indent-s 0;

    span {
      padding: $indent-xs;
      max-width: 300px;
    }
  }
}

