/**
 * Viewport and indents
 */
$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

$indent-xs: 5px;
$indent-s: 10px;
$indent-m: 15px;
$indent-base: 20px;
$indent-l: 30px;
$indent-xl: 40px;

/**
 * Logo widths
 */
$logo-small: 220px;
$logo-base: 400px;

/**
 * Color palette
 */
$moonpay-purple: #7D00FF;
$pure-white: white;